body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.container {
    width: 40em;
    margin: auto;
}

.search-heading {
    font-size: 1.1em;
    letter-spacing: 1px;
}

.search-term {
    font-weight: bold;
    color: #ff472b;
}
